{% include "base.html" %}
{% include "nav.html" %}

<div class="container">
    <div class="card" style="width: 18rem;">
        <img
          src="http://image.yes24.com/goods/92907609/XL"
          class="card-img-top"
        />

        <div class="card-body">
          <h5 class="card-title">안드로이드 앱 개발에 딱 맞는 플러터와 다트 입문</h5>
          <p class="card-text">
            프로젝트로 배우는 간편하고 빠른 앱 개발
          </p>
        </div>
        <div class="card-body text-center">
          <a href="http://www.yes24.com/Product/Goods/92907609" class="card-link">도서 정보</a>
        </div>
      </div>
</div>